<!doctype html>
<html lang="en">


<head>

    
    <meta charset="utf-8" />
    <title>{% block title %}Connexion{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
  
    

    <!-- Bootstrap Css -->
    <link href="assetsAdmin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assetsAdmin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>


<body class="authentication-bg ">
<style>
.btn:hover{
 
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  
  font-size: 15px; 
  font-weight: 500;
}
.btn{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
  color:  #fff;
   border-radius: 9px;
   margin-top:10px;
 
}
.authentication-bg{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
}
.card{
    border-radius: 20px;
}


#btnToggle {
   float: right;
    position: absolute;
    right: 30px;
    top: 253px;
    cursor: pointer;
    z-index: 2;
}

.toggle {
  background: none;
  border: none;
  color: #337ab7;
  /*display: none;*/
  /*font-size: .9em;*/
  font-weight: 500;
  /*padding: .5em;*/
  position: absolute;
  right:29.7em;
  top: 1.70em;
  
}
.toggle:focus { outline:0 !important; }
</style>

 <div class="home-center">
        <div class="home-desc-center">

            <div class="container">

                <div class="home-btn"><a href="/" class="text-white router-link-active"><i
                            class="fas fa-home h2" style="font-size:23px;color:white;"></i></a></div>


                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="px-2 py-3">


                                    <div class="text-center">
                                        <a href="index.html">
                                            <img src="assets/images/logo1.png" height="55" alt="logo">
                                        </a>

                                       
                                    </div>
                                    <div class="text-center">
                                       
                                    <h5 class="mb-2 mt-4" style="font-size:16px; color:red;">Vous devez attendre l'activation de votre compte!</h5>
                                      
                                    </div>
                                    


                                    <form class="form-horizontal mt-5 pt-2" action = "{{ path('app_login') }}" method="post">
                                       
                                        <div class="mb-3">
                                          
                                            <input type="email" class="form-control" id="email" name="_username"
                                                placeholder="Adresse e-mail" required>
                                        </div>

                                        <div class="mb-3">
                                          
                                            <input type="password" class="form-control" id="txtPassword" name="_password"
                                                placeholder="Mot de passe" required>
                                                 <input type="hidden" name="_csrf_token"
                                                  value="{{ csrf_token('authenticate') }}"
                                                    >
                                                    <button type="button" id="btnToggle" class="toggle"><i id="eyeIcon" style="font-size:13px;" class="fa fa-eye"></i></button>

                                        </div>

                                        <div>
                                            <button class="btn btn-primary w-100 waves-effect waves-light"
                                                type="submit">Se connecter</button>
                                        </div>
                                    </form>
                                    <br/>
                                  
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 text-center text-white">
                            <p>Avez-vous un compte ? Si non, <a href="/inscription" class="fw-bold text-white"><span style="font-weight:bold;">S'inscrire</span> </a> </p>
                           
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- End Log In page -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="assetsAdmin/libs/jquery/jquery.min.js"></script>
    <script src="assetsAdmin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assetsAdmin/libs/metismenu/metisMenu.min.js"></script>
    <script src="assetsAdmin/libs/simplebar/simplebar.min.js"></script>
    <script src="assetsAdmin/libs/node-waves/waves.min.js"></script>

    <script src="assetsAdmin/js/app.js"></script>
    <script>
        let passwordInput = document.getElementById('txtPassword'),
        toggle = document.getElementById('btnToggle'),
          icon =  document.getElementById('eyeIcon');

      function togglePassword() {
       if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
       icon.classList.add("fa-eye-slash");
       //toggle.innerHTML = 'hide';
        } else {
        passwordInput.type = 'password';
        icon.classList.remove("fa-eye-slash");
        //toggle.innerHTML = 'show';
         }
         }

       function checkInput() {
       //if (passwordInput.value === '') {
         //toggle.style.display = 'none';
         //toggle.innerHTML = 'show';
          //  passwordInput.type = 'password';
         //} else {
         //  toggle.style.display = 'block';
         //}
          }

          toggle.addEventListener('click', togglePassword, false);
          passwordInput.addEventListener('keyup', checkInput, false);
    </script>
</body>


</html>



