<!doctype html>
<html lang="en">


<head>

    
    <meta charset="utf-8" />
    <title>{% block title %}Message Activation{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
  
    

    <!-- Bootstrap Css -->
    <link href="assetsAdmin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assetsAdmin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>


<body class="authentication-bg ">
<style>
.btn:hover{
 
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right,#18DB32,#0360FF ) 1;
  
  font-size: 15px; 
  font-weight: 500;
}
.btn{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
  color:  #fff;
   border-radius: 9px;
   margin-top:10px;
 
}
.authentication-bg{
    background:linear-gradient(to bottom right,#18DB32,#0360FF );
}
.card{
    border-radius: 20px;
     box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    
}

</style>
 <div class="home-center">
        <div class="home-desc-center">

            <div class="container">

                <div class="home-btn"><a href="/" class="text-white router-link-active"><i
                            class="fas fa-home h2" style="font-size:23px;color:white;"></i></a></div>


                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="px-2 py-3">


                                    <div class="text-center">
                                        <a href="index.html">
                                            <img src="assets/images/logo1.png" height="55" alt="logo">
                                        </a>

                                       
                                    </div>
                                    
                                    <div class="text-center" style="color:#0360FF ;font-size:16px;font-weight:bold;margin-top:70px;margin-bottom:20px;">
                                    Vous devez attendre <span style="color:#18DB32 ;"> l'activation de votre compte </span>  à travers 
                                    l'administrateur de ce site et vous recevrez après un email
                                    pour vous indiquer que vous pouvez <a href="{{ path('app_login') }}" style="color:#18DB32 ;"> se  connecter </a> à notre site ...
                                    </div>

                                
                                    <br/>
                                  
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>

            </div>


        </div>
        <!-- End Log In page -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="assetsAdmin/libs/jquery/jquery.min.js"></script>
    <script src="assetsAdmin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assetsAdmin/libs/metismenu/metisMenu.min.js"></script>
    <script src="assetsAdmin/libs/simplebar/simplebar.min.js"></script>
    <script src="assetsAdmin/libs/node-waves/waves.min.js"></script>

    <script src="assetsAdmin/js/app.js"></script>

</body>


</html>



