<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    

    <!-- plugin css -->
    <link href="/admin/assetsAdmin/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="/admin/assetsAdmin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/admin/assetsAdmin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/admin/assetsAdmin/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
  <body>
 <style> 
 .user-sidebar{
    background: linear-gradient(to bottom right,#18DB32,#0360FF );
 }
 .page-title-box{
    background-color: white;
 }
 
 </style>
    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">

                       <!-- LOGO -->
                 <div class="navbar-brand-box">
                  {% if is_granted('ROLE_ADMIN')  %} <a href="/admin/dashboardAdmin" cclass="logo logo-dark">{% endif %}
                            {% if is_granted('ROLE_INVESTISSEUR')  %} <a href="/investisseur" class="logo logo-dark">{% endif %}
                             {% if is_granted('ROLE_MINISTERE')  %} <a href="/ministere" class="logo logo-dark">{% endif %}
                   
                        
                        <span class="logo-lg">
                            <img src="/admin/assetsAdmin/images/logo1.png" alt="" height="45">
                        </span>
                    </a>

                   
                </div>

                   

                 
            
                </div>

                 <!-- Search input -->
                 <div class="search-wrap" id="search-wrap">
                    <div class="search-bar">
                        <input class="search-input form-control" placeholder="Search" />
                        <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                            <i class="mdi mdi-close-circle"></i>
                        </a>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="dropdown d-none d-lg-inline-block">
                        <button type="button" class="btn header-item toggle-search noti-icon waves-effect" data-target="#search-wrap">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="/admin/assetsAdmin/images/admin.png"
                                alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1">{{app.user.username}}</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle-outline font-size-16 align-middle me-1"></i> Profile</a>
                           
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/logout"><i class="mdi mdi-power font-size-16 align-middle me-1 text-danger"></i> Se déconnecter</a>
                        </div>
                    </div>

                   
            
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">


                <div class="user-sidebar text-center">
                    <div class="dropdown">
                        <div class="user-img">
                            <img src="/admin/assetsAdmin/images/admin.png" alt="" class="rounded-circle" height="40">
                            <span class="avatar-online bg-success"></span>
                        </div>
                        <div class="user-info">
                            <h5 class="mt-3 font-size-16 text-white">{{app.user.username}}</h5>
                             {% if is_granted('ROLE_ADMIN')  %}  <span class="font-size-14 text-white-50">Administrateur</span> {% endif %}
                             {% if is_granted('ROLE_INVESTISSEUR')  %}  <span class="font-size-14 text-white-50">Investisseur</span> {% endif %}
                             {% if is_granted('ROLE_MINISTERE')  %}  <span class="font-size-14 text-white-50">Ministére</span> {% endif %}
                        </div>
                    </div>
                </div>



                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            {% if is_granted('ROLE_ADMIN')  %} <a href="/admin/dashboardAdmin" class="waves-effect">{% endif %}
                            {% if is_granted('ROLE_INVESTISSEUR')  %} <a href="/investisseur" class="waves-effect">{% endif %}
                             {% if is_granted('ROLE_MINISTERE')  %} <a href="/ministere" class="waves-effect">{% endif %}
                                <i class="dripicons-home"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                    {% if is_granted('ROLE_ADMIN')  %} 
                        <li>
                            <a href="/admin/activerCompte" class=" waves-effect">
                                <i class="dripicons-user"></i>
                                <span>Activation comptes</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/showM" class=" waves-effect">
                                <i class="dripicons-user-group"></i>
                                <span> Les ministéres</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/showInv" class=" waves-effect">
                                <i class="dripicons-user-group"></i>
                                <span>Les investisseurs</span>
                            </a>
                        </li>

                         <li>
                                <a href="javascript: void(0);" class="waves-effect">
                                    <i class="dripicons-list"></i>
                                 
                                    <span>Les offres</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="form-elements.html">Les offres actifs</a></li>
                                    <li><a href="form-validation.html">Les offres desactifs</a></li>
                                    <li><a href="form-advanced.html">Mes offres</a></li>
                                   
                                </ul>
                            </li>
                        <li>
                            <a href="calendar.html" class=" waves-effect">
                                <i class="dripicons-calendar"></i>
                                <span>Les news</span>
                            </a>
                            <a href="/offre" class=" waves-effect">
                                <i class="dripicons-message"></i>
                                <span>Discution</span>
                            </a>
                        </li>

                       
                  
                    </ul>
                   {% endif %}
                     {% if is_granted('ROLE_MINISTERE')  %} 
                    
                        <li>
                            <a href="/offreActif" class=" waves-effect">
                                <i class="dripicons-list"></i>
                                <span>Mes offres</span>
                            </a>
                            
                            <a href="/offreActif" class=" waves-effect">
                                <i class="dripicons-message"></i>
                                <span>Discution</span>
                            </a>
                        </li>
                       
                     </ul>
                   {% endif %}
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">

                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                     <div class="row align-items-center">
                        
                        
                     </div>
                    </div>
                 </div>
                 <!-- end page title -->    


                <div class="container-fluid">

                    <div class="page-content-wrapper">

                   
                            {% block body %}{% endblock %}


                        </div>


                    </div>


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> ©Investir.
                        </div>
                       
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

   <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    {% block javascript %}{% endblock %}
    <!-- JAVASCRIPT -->
    <script src="/admin/assetsAdmin/libs/jquery/jquery.min.js"></script>
    <script src="/admin/assetsAdmin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assetsAdmin/libs/metismenu/metisMenu.min.js"></script>
    <script src="/admin/assetsAdmin/libs/simplebar/simplebar.min.js"></script>
    <script src="/admin/assetsAdmin/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts -->
    <script src="/admin/assetsAdmin/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Plugins js-->
     <!-- <script src="/admin/assetsAdmin/js/app.js"></script>-->
    <script src="/admin/assetsAdmin/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/admin/assetsAdmin/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

    <script src="/admin/assetsAdmin/js/pages/dashboard.init.js"></script>

<script>
$(document).ready(function() {
  //-------------------------------SELECT CASCADING-------------------------//
  var selectedCountry = (selectedRegion = selectedCity = "");
  // This is a demo API key for testing purposes. You should rather request your API key (free) from http://battuta.medunes.net/
  var BATTUTA_KEY = "00000000000000000000000000000000";
  // Populate country select box from battuta API
  url =
    "https://battuta.medunes.net/api/country/all/?key=" +
    BATTUTA_KEY +
    "&callback=?";

 
    countryCode = "tn";
    // Populate country select box from battuta API
    url =
      "https://battuta.medunes.net/api/region/" +
      countryCode +
      "/all/?key=" +
      BATTUTA_KEY +
      "&callback=?";
    $.getJSON(url, function(data) {
      $("#region option").remove();
      $('#region').append('<option value="">Sélectionner la ville</option>');
      $.each(data, function(index, value) {
        // APPEND OR INSERT DATA TO SELECT ELEMENT.
        $("#region").append(
          '<option value="' + value.region + '">' + value.region + "</option>"
        );
      });
    });
  
  // Region selected --> updated city list
  $("#region").on("change", function() {
    selectedRegion = this.options[this.selectedIndex].text;
    // Populate country select box from battuta API
    countryCode = "tn";
    region = $("#region").val();
    url =
      "https://battuta.medunes.net/api/city/" +
      countryCode +
      "/search/?region=" +
      region +
      "&key=" +
      BATTUTA_KEY +
      "&callback=?";
    $.getJSON(url, function(data) {
      console.log(data);
      $("#city option").remove();
      $('#city').append('<option value="">Sélectionner la région</option>');
      $.each(data, function(index, value) {
        // APPEND OR INSERT DATA TO SELECT ELEMENT.
        $("#city").append(
          '<option value="' + value.city + '">' + value.city + "</option>"
        );
      });
    });
  });
  // city selected --> update location string
  $("#city").on("change", function() {
    selectedCity = this.options[this.selectedIndex].text;
    $("#location").html(
      "Locatation: Country: " +
        selectedCountry +
        ", Region: " +
        selectedRegion +
        ", City: " +
        selectedCity
    );
  });
});

</script>          
   

</body>


</html>
